$cal-border-color: #666;

body {
  background: #fff;
  font-family: Helvetica, sans;
  color: $cal-border-color;
  h1 {
    padding-left: .5em;
  }
}

header#main {
  background:#222;
  color:#eee;
  h1 {
    font-size:1.55em;
    font-weight:bold;
    padding:.5em 0 .5em .5em;
  }
}
table {
  width:90%;
  border-collapse: collapse;
  margin-left:1em;
  th {
    text-align: left;
    padding:.5em .5em 0 0.25em;
    color:#222;
    font-size: .85em;
  }

  thead {
    border:0;
  }
  tbody#month-display {
    td {
      height:100px;
      width:14%;
      vertical-align: top;
      border:1px solid $cal-border-color;

      .calendar-date {
        font-size: .80em;
        padding: 0 0 0 .25em;
      }
    }
  }
}
